  body{
    margin:0;
    padding:0;
  }
  .contenedor{
    margin: 0;
    padding:0;
    position: relative;
    background-color: DarkGray;
    width: 600px;
    padding: 50px;
  }
  .caja{
    width: 200px;
    height:200px;
  }
  #rosa{
    background-color: #EE3E64;
  }
  #azul{
    background-color: #2B7DB9;
    position:absolute;
    right: 0px;
    top: 250px;
  }
  #verde{
    background-color: #B7D84B;
  }
  #amarillo{
    background-color: #FAFF16;
  }
